.h-middle{
    width:fit-content;
    margin: auto;
}

.mt-1{
    margin-top: 10px;
}
.mt-1{
    margin-top: 5px;
}

.cursive{
    font-family: 'Dancing Script', cursive;
}

.relative{
    position: relative;
}

*{
    padding: 0;margin: 0px;    
}

body{
    background-image: linear-gradient(to bottom right, orange, red);
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 12px;
    width: 65vw;
    height: 75vh;
    background-image: linear-gradient(to bottom right, #f1e289, yellow);
    /* background-color:	#f1e289; */
    /* background-color:	#331405; */
    position: relative;
}
.png{
    width: 15vw;
    position: absolute;
    bottom: 0;
}
.png1{
    width: 15vw;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}
.weds{
    height: 10vh;
}
.f-height{
    font-size: 3rem;
}
.a{
    position: absolute;
    top: 20px;
    left: 25px;
}
